{% extends 'Password_Manager/base.html' %}
  
{% block content %}

      <div class="container-fluid bg-light p-5" style="width: 98.6%; border-radius: 8px;">
        <h1 class="display-4" style ="font-family: 'Josefin Sans', sans-serif; font-weight:400; color: black;">About Vault Keeper</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p style ="font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black; font-size: 1.2em">We're glad you're here at Vault Keeper, the best password manager for safe and easy password management. You can have confidence that your passwords are always safe and secure thanks to Vault Keeper.
          <br>We use fernet encryption to protect your passwords from unauthorized access because we recognize the value of strong password protection. You don't have to worry about coming up with and remembering complex passwords because our password manager will generate one-of-a-kind, strong passwords for you.
          <br>Vault Keeper is dependable, secure, and simple to use. You can keep all of your passwords in one place with Vault Keeper and access them with just one master password. Additionally, you have access to your passwords on any device, including your laptop, phone, and tablet.
          Vaultkeeper's user-friendly interface makes it easy for you to manage your passwords, update them as needed, and access them anytime.
          <br>At Vaultkeeper, we take security seriously. We use the latest encryption technologies to protect your data and ensure that your passwords are safe from hackers and cybercriminals. We also use a secure server to store your data, and we don't share your data with third parties.
        </p>
        </div>

        <br><br><br>

        <div class="container-fluid bg-light p-5" style="width: 98.6%; border-radius: 8px;">
          <h1 class="display-4" style ="font-family: 'Josefin Sans', sans-serif; font-weight:400; color: black;">Fernt Encryption</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p style = "font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black; font-size:1.2em">At our password manager, we take the security of your passwords very seriously. That's why we use the Fernet encryption methodology to ensure that your passwords are stored securely.
            Fernet encryption is a symmetric encryption method that uses a secret key to encrypt and decrypt data. This means that the same key is used for both encryption and decryption, which provides an added layer of security since the key is never transmitted or stored on our servers.
            <br>When you create an account with our password manager, we use Fernet encryption to encrypt your password before storing it in our database. This ensures that even if our database is compromised, your password remains encrypted and cannot be accessed by anyone without the secret key.</p>
          </div>

        <br><br><br>

        <div class="container-fluid bg-light p-5" style="width: 98.6%; border-radius: 8px;">
          <h1 class="display-4" style ="font-family: 'Josefin Sans', sans-serif; font-weight:400; color: black;">Database Design and Web Framework</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p style = "font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black; font-size:1.2em"></p>
          </div>

        <br><br><br>

        <div class="container-fluid bg-light p-5" style="width: 98.6%; border-radius: 8px;">
          <h1 class="display-4" style ="font-family: 'Josefin Sans', sans-serif; font-weight:400; color: black;">Why is it important to have a secure, strong password?</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p style = "font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black; font-size:1.2em">The first step in preventing cyber attacks on your online accounts and sensitive data is to create strong passwords. The following advice will help you create stronger passwords:
            <br> - Use a variety of characters: When creating your password, mix capital and lowercase letters, numbers, and symbols. As a result, it is more challenging for attackers to figure out your password.
            <br> - Avoid using words that are commonly used: Don't use words like "password," "123456," or "qwerty" as your password. Attackers' initial guesses at passwords will be these ones.
            <br> - Make your passwords longer: It is more difficult for someone to guess a password the longer it is. Aim for at least 8 characters, but if you can, think about using more.
            <br> - Make sure your password is distinct. Never use the same password for different accounts. This makes sure that even if one password is stolen, all of your other accounts are secure.
            <br> - Don't use personal information: Don't use details like your name, date of birth, or address in your password. Attackers have easy access to this data, which they can use to determine your password.
            <br> - Think about employing a password manager: It is simple to use a different, strong password for each of your accounts when you use a password manager, which can generate and store complex passwords for you.</p>
          </div>

          <br><br><br>

        <div class="container-fluid bg-light p-5" style="width: 98.6%; border-radius: 8px;">
          <h1 class="display-4" style ="font-family: 'Josefin Sans', sans-serif; font-weight:400; color: black;">Tips on how to create a strong password.</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p style = "font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black; font-size:1.2em">Having a strong password is essential for defending your sensitive data against online criminals. Passwords are your main line of defense in the modern digital world against unauthorized access to your online accounts, including social media, email, and banking. The following are some justifications for why it's crucial to have a strong and secure password:
            <br> - Prevent unauthorized access: By using a strong password, you can guard your online accounts and your private information, including your financial and personal information.
            <br> - Avoid identity theft: If cybercriminals get their hands on your password, they can use it to open credit cards, take out loans, and make unauthorized purchases all while using your identity.
            <br> - Protect yourself from data breaches: Cybercriminals can use automated tools to break weak passwords, and data breaches can give hackers access to millions of login credentials. Even if there is a data breach, you can safeguard your account by using a strong password.
            <br> - Comply with regulations: To protect sensitive data, many regulations, including the General Data Protection Regulation (GDPR) and the Payment Card Industry Data Security Standard (PCI DSS), calls for organizations to implement strong password policies.
            <br> - Prevent financial losses: If someone gains access to your account, they may make unauthorized purchases, transfer money, or even empty your bank account, resulting in significant losses.</p>
          </div>

          <br><br><br>

        <div class="container-fluid bg-light p-5" style="width: 98.6%; border-radius: 8px;">
          <h1 class="display-4" style ="font-family: 'Josefin Sans', sans-serif; font-weight:400; color: black;">Practices to follow for internet security.</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p style = "font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black; font-size:1.2em">In the current digital era, adhering to best practices for internet security is essential. It is critical to take precautions to safeguard your sensitive information from unauthorized access as cyber threats become more sophisticated. You should adhere to the following internet security best practices:
            <br> - Use strong passwords: As was previously stated, using strong and distinctive passwords is crucial for preventing unauthorized access to your accounts. Never reuse passwords across different accounts and mix uppercase and lowercase letters, numbers, and symbols.
            <br> - Avoid identity theft: If cybercriminals get their hands on your password, they can use it to open credit cards, take out loans, and make unauthorized purchases all while using your identity.
            <br> - Enable two-factor authentication to increase the security of your accounts by requiring a second form of identification in addition to your passwords, such as a text message or app-based code.
            <br> - Maintain software updates: Ensure that your web browser, operating system, and other programs are current with the most recent security patches. Cybercriminals frequently target outdated software that has known flaws.
            <br> - Consider using a virtual private network (VPN) to encrypt your internet connection and protect your data from hackers. When using public Wi-Fi or when engaging in sensitive online activities, use a reliable VPN.
            <br> - Beware of phishing scams: These schemes are frequently used to steal people's personal information. Be wary of any phony emails, texts, or calls requesting your personal information or login credentials.
            <br> Backing up your data on a regular basis is crucial in case of data loss due to hardware failure or cyberattacks. Back up your data frequently to a safe location, like a cloud storage platform or an external hard drive.
            <br><br>You can safeguard your sensitive data from online threats and make sure your online activities are secure by adhering to these best practices for internet security. Remember that cyber threats are constantly changing, so it's crucial to be on guard and maintain current security procedures.</p>
          </div>

          <div class="container-fluid bg-light p-5" style="width: 98.6%; border-radius: 8px;">
            <h1 class="my-4" style ="font-family: 'Josefin Sans', sans-serif; font-weight:400; color: black;">About the creators</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p style = "font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black; font-size:1.2em">Wassem Elbouni: BSc Computer Science, Year 2</p>
            <p style = "font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black; font-size:1.2em">Aditi Yadav: BSc Computer Science and Mathematics, Year 2</p>
            </div>

{% endblock content %}