{% extends 'Password_Manager/base.html' %}

{% block content %}
    <div class="container-fluid bg-light p-5" style="width: 98.6%; border-radius: 8px; text-align: center;">
    <h1 class="display-4" style="padding:230px; font-family: 'Josefin Sans', sans-serif; font-weight:400; color: black;">Thank you!</h1>
    <p class="lead" style = "font-family: 'Josefin Sans', sans-serif; font-weight:300; color: black;">We hope to see you soon!</p>
    {% comment %} <hr class="my-4"> {% endcomment %}
{% endblock content %}